.A_ActionButton {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
  color: var(--text-gray);

}

.A_ActionButton:hover {
  background-color: var(--bg-gray);
}

.A_ActionButton span {
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;
}

.A_ActionButton .icon {
  width: 20px;
  margin-left: 32px;
  margin-right: 26px;
  transition: color .3s ease;
}
