.A_ActionButton {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
  color: var(--text-gray);

}

.A_ActionButton:hover {
  background-color: var(--bg-gray);
}

.A_ActionButton span {
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;
}

.A_ActionButton .icon {
  flex-shrink: 0;
  width: 20px;
  margin-left: 32px;
  margin-right: 26px;
  /* transition: color .3s ease; */
}


.A_ActionButton#sidebarToggle .icon .fa-forward {
  display: none;
}



.T_SinglePageUI.compact .O_Sidebar .A_ActionButton .icon {
  margin: 0 30px;
}

.T_SinglePageUI.compact .O_Sidebar .A_ActionButton#sidebarToggle .icon .fa-forward {
  display: inline;
}

.T_SinglePageUI.compact .O_Sidebar .A_ActionButton#sidebarToggle .icon .fa-backward {
  display: none;
}
