.O_MenuItem.active .A_MenuItemButton span {
  font-weight: 400;
}

.O_MenuItem.active .A_MenuItemButton .icon {
  color: var(--primary);
}

.A_MenuItemButton {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
  color: var(--text-gray);

}

.A_MenuItemButton:hover {
  background-color: var(--bg-gray);
}

.A_MenuItemButton span {
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;
}

.A_MenuItemButton .icon {
  display: block;
  width: 20px;
  margin-left: 32px;
  margin-right: 26px;
  transition: color .3s ease;
}

.T_SinglePageUI.compact .O_Sidebar .A_MenuItemButton .icon {
  margin: 0 30px;
}
