.A_PerPageButton {
  cursor: pointer;
  font-family: var(--OpenSans);
  font-size: 12px;
  color: var(--text-gray);
}

.O_PerPageMenu.open .A_PerPageButton,
.A_PerPageButton:hover {
  color: var(--primary)
}

.A_PerPageButton svg {
  margin-right: 3px;
}
