.O_Menu {
  height: calc(100% - 80px - 70px);
  overflow: hidden;
}

.O_Menu .scrollable {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  overflow-y: scroll;
}

.O_Menu .scrollable > div {
  padding: 10px 20px 10px 0;
}

.O_Menu .scrollable > div:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}
