.O_Menubar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-left: 40px;
  border-bottom: 1px solid var(--gray);
}

.O_Menubar .left,
.O_Menubar .right {
  display: flex;
}
