.O_Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;

  width: var(--full-sidebar-width);
  height: 100%;
  background-color: #fff;
  border-right: 1px solid var(--gray);
  z-index: 100;
}

.T_SinglePageUI.compact .O_Sidebar {
  width: var(--compact-sidebar-width);
}
