.O_TopbarWrapper {
  position: fixed;
  width: calc(100% - var(--full-sidebar-width));
  background-color: #fff;
}

.T_SinglePageUI.compact .O_TopbarWrapper {
  width: calc(100% - var(--compact-sidebar-width));
}
